@import url(../css/nullstyle.css);
body {
  font-family: 'Roboto', sans-serif;
}

a:active {
  color: #9d8665;
}

a:hover {
  color: #9d8665;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #030303;
  padding: 74px 240px 76px;
}

.header .header__container {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header .logo .logo__svg {
  background-image: url(../images/svg/logo.svg);
  width: 49px;
  height: 26px;
  display: inline-block;
  margin-right: 20px;
}

.header .logo .title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  color: white;
  font-family: "Forum", cursive;
  text-transform: uppercase;
  display: inline-block;
}

.nav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__flex li {
  margin-right: 76px;
  list-style: none;
}

.nav__flex li a {
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: white;
}

.nav__flex li:last-child {
  margin-right: 0px;
}

.Welcome {
  height: 750px;
  background: black;
  position: relative;
}

.Welcome .img__main {
  position: absolute;
  top: -2px;
  right: -23px;
}

.Welcome .welcome__container .welcome__to__the__louvre {
  padding-top: 114px;
  margin-left: 10px;
}

.Welcome .welcome__container h1 {
  position: relative;
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 26px;
  z-index: 10;
}

.Welcome .welcome__container p {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 80px;
}

.Welcome .welcome__container .discover__btn {
  border-radius: 10px;
  background: #710707;
  width: 360px;
  height: 75px;
}

.Welcome .welcome__container .discover__btn .title__button {
  font-family: 'Roboto', serif;
  margin: 0px;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: white;
}

.Welcome .welcome__container .discover__btn:hover {
  background: #9d8665;
}

.Welcome .backgroung__main {
  position: absolute;
  left: 465px;
  top: -114px;
}

.Visiting {
  padding: 75px 0px;
}

.visiting__container .visiting__title {
  position: relative;
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9D8665;
  text-transform: uppercase;
  margin-bottom: 105px;
  margin-left: 12px;
}

.visiting__container .visiting__title::after {
  top: 115px;
  left: 0px;
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #710707;
}

.visiting__container .card__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 422px;
      grid-template-rows: 422px;
  -ms-grid-columns: 440px 440px 440px;
      grid-template-columns: 440px 440px 440px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 78px;
  margin-left: 11px;
}

.visiting__container .card__grid .card__item {
  display: inline-block;
}

.visiting__container .card__grid .card__item h3 {
  position: relative;
  margin: 25px 0px 26px;
  font-family: 'Forum';
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  color: black;
}

.visiting__container .card__grid h3::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 43px;
  height: 3px;
  width: 300px;
  background: #710707;
}

.visiting__container .card__grid .subtitle__virtual {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 21px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 10px;
}

.visiting__container .card__grid .subtitle__street {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0px;
  color: black;
}

.Explore {
  padding: 75px 240px 90px;
  background: black;
}

.Explore .explore__container .explore__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Explore .explore__container .explore__flex .explore__description {
  margin-right: 41px;
}

.Explore .explore__container .explore__flex .explore__description .explore__title {
  position: relative;
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.Explore .explore__container .explore__flex .explore__description .explore__title::after {
  top: 115px;
  left: 0px;
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #710707;
}

.Explore .explore__container .explore__flex .explore__description p {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38.9px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.Explore .explore__span {
  color: #9d8665;
}

.Video .video__container {
  padding: 90px 0px 78px 11px;
}

.Video .video__container .video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Video .video__container .video__info .video__title {
  font-family: 'Forum';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9D8665;
}

.Video .video__container .video__info .video__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0px;
  color: black;
}

.Video .video__container .block__bar {
  width: 1440px;
  background: black;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.Video .video__container .block__bar .bar__back {
  background: black;
}

.Video .video__container .block__bar .progress {
  background: -webkit-gradient(linear, left top, right top, from(#82CFD0), color-stop(40%, #82CFD0), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
  border: solid 2px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 820px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.Video .video__container .block__bar .progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.Video .video__container .block__bar .value__int {
  background: -webkit-gradient(linear, left top, right top, from(#24809E), color-stop(40%, #24809E), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
  border: solid 2px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 155px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.Video .video__container .block__bar .value__int::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.Tickets {
  background: black;
}

.Tickets .tickets__container {
  padding: 75px 0px;
}

.Tickets .tickets__container .tickets__title {
  position: relative;
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.Tickets .tickets__container .tickets__title::after {
  top: 110px;
  left: 0px;
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #710707;
}

.Tickets .tickets__container .tickets__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .radiobtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .block__btn {
  border: 3px solid white;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .basic .basic__btn {
  color: white;
  background: black;
  text-align: center;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .basic .basic__subtitle {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .senior .senior__subtitle {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.Tickets .tickets__container .tickets__flex .tickets__item1 .amount .senior .senior__btn {
  color: white;
  background: black;
  text-align: center;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.Tickets .tickets__container .tickets__flex .ticket__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 240px;
}

.Tickets .tickets__container .tickets__flex .ticket__type p {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.Tickets .tickets__container .tickets__flex .ticket__type .radiobtn {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.Tickets .tickets__container .tickets__flex .ticket__type input {
  margin-bottom: 50px;
  margin-right: 23px;
}

.Tickets .tickets__container .tickets__flex .ticket__type :last-child {
  margin-bottom: 0px;
}

.Tickets .price {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: white;
  margin-bottom: 50px;
}

.Tickets .btn__buy {
  width: 175px;
  height: 50px;
  text-align: center;
}

.Tickets .btn__buy:hover {
  background: #9d8665;
}

.Contacts {
  padding: 75px 0px;
}

.Contacts .contacts__container .contacts__title {
  position: relative;
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  color: #9d8665;
  text-transform: uppercase;
  margin-bottom: 83px;
}

.Contacts .contacts__container .contacts__title::after {
  top: 110px;
  left: 0px;
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #710707;
}

.Contacts .contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Contacts .contacts__flex .contacts__text__title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0px;
  color: black;
  margin-bottom: 36px;
}

.Contacts .contacts__flex .contacts__text__subtitle {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0px;
  color: black;
}

.Contacts .contacts__flex .contacts__text__subtitle p {
  margin-bottom: 20px;
}

.footer {
  background: black;
}

.footer .footer__container {
  padding: 75px 0px;
}

.footer .footer__container .footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__container .footer__flex .footer__flex__item .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__container .footer__flex .footer__flex__item .contacts .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 56px;
  letter-spacing: 2px;
  color: white;
  font-family: 'Roboto',serif;
  margin-right: 153px;
}

.footer .footer__container .footer__flex .footer__flex__item .contacts :last-child {
  margin-right: 0px;
}

.footer .footer__container .footer__flex .footer__flex__item__social {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer__container .footer__flex .footer__flex__item__social .social a {
  margin-right: 24px;
}

.footer .footer__container .footer__flex .footer__flex__item__social .social :last-child {
  margin-right: 24px;
}

.footer .footer__container .logo .logo__svg {
  background-image: url(../images/svg/logo.svg);
  width: 49px;
  height: 26px;
  display: inline-block;
  margin-right: 20px;
}

.footer .footer__container .logo .title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  color: white;
  font-family: "Forum", cursive;
  text-transform: uppercase;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */