@import url(../css/nullstyle.css);
body{
    font-family: 'Roboto', sans-serif;
    
}
a:active{
    color: #9d8665;
}
a:hover{
    color: #9d8665;
}

@mixin font ( $fstyle, $fw, $fsize, $lh, $ls, $color) {
    font-style: $fstyle;
    font-weight: $fw;
    font-size: $fsize;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    
    background-color: rgba(3, 3, 3, 1);
    padding: 74px 240px 76px;
    
    .header__container{
        width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin: auto;
    }
    .logo{
        
        .logo__svg{
            background-image: url(../images/svg/logo.svg);
            width: 49px;
            height: 26px;
            display: inline-block;
            margin-right: 20px;
            
    
        }
        .title{
           @include font(normal, normal, 28px, 50px, 5px, white);
           font-family: "Forum", cursive;

            text-transform: uppercase;
            display: inline-block;
        }
    }
    
    
}
.nav__flex{
    display: flex;
    justify-content: space-between;
    li{
        margin-right: 76px;
        list-style: none;
        a{
            @include font(normal, 200, 22px, 50px, 2px, white);
        }

    }
    li:last-child{
        margin-right: 0px;
    }
    
}
.Welcome{
    height: 750px;
    background: black;
    position: relative;
    
    .img__main{
        position: absolute;
        top: -2px;
        right: -17px;
        
    }
    .welcome__container{
        .welcome__to__the__louvre{
            padding-top: 114px;
            margin-left: 9px;
        }
      
h1{
    position: relative;
    font-family: 'Forum', cursive;
    @include font(normal, normal, 80px, 90px, 5px, white);
    text-transform: uppercase;
    margin-bottom: 26px;
    z-index: 10;
}
p{
    @include font(normal, 300, 28px, 33px, 2px, white);
        margin-bottom: 80px;

}
.discover__btn{
    display: block;
    border-radius: 10px;
    background: rgba(113, 7, 7, 1);
    width: 360px;
    height: 75px;
    font-family: 'Roboto', serif;
    margin: 0px;
    text-align: center;
    @include font(normal, 200, 22px, 26px, 2px, white); 
    padding-top: 21px;
    
    
}
.discover__btn:hover{
    background: #9d8665;
}
    }
}

.Visiting{
    padding: 75px 0px;
}
.visiting__container{
    
    .visiting__title{
        position: relative;
        font-family:  'Forum';
        @include font(normal, normal, 80px, 90px, 5px, #9D8665); 
        text-transform: uppercase;
        margin-bottom: 105px;
        margin-left: 12px;  
    }
    .visiting__title::after{
        top: 115px;
        left: 0px;
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background: #710707;
        
    }
.card__grid{
    display: grid;
    grid-template-rows: 422px ;
    grid-template-columns: 440px 440px 440px;
    column-gap: 60px;
    row-gap: 78px;
    margin-left: 11px;
    .card__item{
       display: inline-block;
        h3{
            position: relative;
            margin: 25px 0px 7px;
            font-family: 'Forum';
            text-transform: uppercase;
            @include font(normal, normal, 32px, 35px, 5px, black);
        }
        .line{
            height: 3px;
            width: 300px;
            background: #710707;
            margin-bottom: 12px;
        }
        .hover__block:hover .line{ 
            width: 100%;
        }
        }
       
        }
        }
        
     
        
        .subtitle__virtual{
            font-family: 'Roboto';
            @include font(normal, 200, 22px, 21px, 0px, black);
                margin-bottom: 10px;
        }
        .subtitle__street{
            font-family: 'Roboto';
            @include font(normal, 200, 18px, 21px, 0px, black);
        }
    


.Explore{
    padding: 75px 240px 90px;
    background: black;
    .explore__container{
        .explore__flex{
            display: flex;
            .explore__description{
                margin-right: 41px;
                .explore__title{
                    position: relative;
                    font-family:  'Forum';
                    @include font(normal, normal, 80px, 90px, 5px, white); 
                    text-transform: uppercase;
                    margin-bottom: 100px;
                }
                .explore__title::after{
                    top: 115px;
                    left: 0px;
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background: #710707;
            }
            p{
                font-family: 'Roboto', serif;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 38.9px;
                color: #FFFFFF;
                margin-bottom: 25px;
            }
            }

           
        }
    }
    .explore__span{
        color:#9d8665;
    }
}
.Video{
    .video__container{
        padding: 90px 0px 78px 11px;
        .video__info{
            display: flex;
            justify-content: space-between;
            .video__title{
                font-family: 'Forum';
                text-transform: uppercase;
                @include font(normal, 400 , 80px, 90px, 5px, #9D8665);
            }
            .video__subtitle{
                @include font(normal, 300 , 22px, 38px, 0px, black);
            }
        }
        .block__bar{
            width: 1440px;
            background: black;
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 40px;
            .bar__back{
                background: black;
            }
            .progress {
                background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
                border: solid 2px #82CFD0;
                border-radius: 8px;
                height: 7px;
                width: 820px;
                outline: none;
                transition: background 450ms ease-in;
                -webkit-appearance: none;
              }
              
              .progress::-webkit-slider-thumb {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-appearance: none;
                cursor: ew-resize;
                background: #434343;
              }
              .value__int {
                background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
                border: solid 2px #82CFD0;
                border-radius: 8px;
                height: 7px;
                width: 155px;
                outline: none;
                transition: background 450ms ease-in;
                -webkit-appearance: none;
              }
              
              .value__int::-webkit-slider-thumb {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-appearance: none;
                cursor: ew-resize;
                background: #434343;
              }
              
        }
    }
}
.Tickets{
    background: rgb(0, 0, 0);
    
    .tickets__container{
        padding: 75px 0px;
.tickets__title{
        position: relative;
        font-family:  'Forum';
        @include font(normal, normal, 80px, 90px, 5px, white); 
        text-transform: uppercase;
        margin-bottom: 100px;
    }
    .tickets__title::after{
        top: 110px;
        left: 0px;
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background: #710707;
}
.tickets__flex{
    display: flex;
    justify-content: space-between;
   
    .tickets__item1{
        display: flex;
        justify-content: space-between;
        .radiobtn{
            display: flex;
        }
        .amount{
            .title{
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 33px;
                color: #FFFFFF;
                margin-bottom: 11px;
            }
            .block__btn{
                border: 3px solid white;
                margin-bottom: 35px;
                display: flex;
                justify-content: space-around;
            }
                    .basic{
                        .basic__btn{
                            color: white;
                            background: black;
                            text-align: center;
                            height: 50px;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 26px;
                        }
                        .basic__subtitle{
                            font-family:'Roboto', serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 26px;
                            color: #FFFFFF;
                            margin-bottom: 14px;
                        }
                    }
                    .senior{
                        .senior__subtitle{
                            font-family:'Roboto', serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 26px;
                            color: #FFFFFF;
                            margin-bottom: 14px;
                        }
                        .senior__btn{
                            color: white;
                            background: black;
                            text-align: center;
                            height: 50px;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 26px;
                        }
                    }
            }
        }
        .ticket__type{
            display: flex;
            flex-direction: column;
            margin-right: 240px;
            p{
                margin-bottom: 50px;
                // font-family: 'Roboto',serif;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 33px;
                color: #FFFFFF;
            }
            .radiobtn{
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 26px;
                color: #FFFFFF;
            }
            input{
                margin-bottom: 50px;
                margin-right: 23px;
            }
            :last-child{
                margin-bottom: 0px;
            }
        }
    }
}
.price{
    @include font(normal, bold, 28px, 33px, 1.65px, white); 
    margin-bottom: 50px;
}
.btn__buy{
    width: 175px;
    height: 50px;
    text-align: center;

}
.btn__buy:hover{
    background: #9d8665;
}
}

.Contacts{
    padding: 75px 0px;

    .contacts__container{
        
    
.contacts__title{
        position: relative;
        font-family:  'Forum';
        @include font(normal, normal, 80px, 90px, 5px, #9d8665); 
        text-transform: uppercase;
        margin-bottom: 83px;
    }
    .contacts__title::after{
        top: 110px;
        left: 0px;
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background: #710707;
}
}
.contacts__flex{
    display: flex;justify-content: space-between;
    .contacts__text__title{
        @include font(normal, 500, 28px, 33px, 0px, black); 
        margin-bottom: 36px;
        
    }
    .contacts__text__subtitle{
        font-family: 'Roboto', serif;
        @include font(normal, 300, 22px, 26px, 0px, black); 
        p{
            margin-bottom: 20px;
        }

    }
}
}
.footer{
    background: black;
    
   .footer__container{
    padding: 75px 0px;
     .footer__flex{
         
         display: flex;
         justify-content: space-between;
         .footer__flex__item{
             
            .contacts{
                display: flex;
                .contact__list{
                display: flex;
                flex-direction: column;
                margin-right: 153px;
                li{
                    a{
                        
                        @include font(normal, 200, 22px, 56px, 2px, white);
                        font-family: 'Roboto',serif;
                    }
                }
            }
            :last-child{
                margin-right: 0px;
            }
         }
         
         }
         .footer__flex__item__social{
            align-self: flex-end;
            .social{
                a{
                    margin-right: 24px;

                }
                :last-child{
                    margin-right: 24px;
                }
            }
         }
     }
        .logo{
        
            .logo__svg{
                background-image: url(../images/svg/logo.svg);
                width: 49px;
                height: 26px;
                display: inline-block;
                margin-right: 20px;
                
        
            }
            .title{
               @include font(normal, normal, 28px, 50px, 5px, white);
               font-family: "Forum", cursive;
    
                text-transform: uppercase;
                display: inline-block;
            }
        
       }
   }
}